body{
    background-color: #ffffff;
    text-align: center;
}
img{
    width: 250px;
    height: 250px;
    padding: 25px;
}
a{
    text-decoration: underline;
    color: #000000;
    padding: 10px;   
}